<%= form_for employee do |f| %>
  <% if employee.errors.any? %>
    <%= render 'shared/errors', errors: employee.errors %>
  <% end %>

  <div class='row my-2'>
    <div class='col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.label :first_name %>
          <%= f.text_field :first_name, class: 'form-control' %>
        </div>
        <div class='col-md-6'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.label :region %>
          <%= f.select :region, options_for_select(regions), { }, class: 'form-control' %>
        </div>
        <div class='col-md-6'>
          <%= f.label :position %>
          <%= f.select :position, options_for_select(positions), { }, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

  <div class='row my-2'>
    <div class='col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control' %>
        </div>
        <div class='col-md-6'>
          <%= f.label :hire_date %>
          <%= f.date_field :hire_date, class: 'form-control' %>
        </div>
      </div>
    </div>
  </div>

    <div class='row my-2'>
    <div class='col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>


    <label class="custom-control custom-checkbox">
      <%= f.check_box :is_active, class: 'custom-control-input' %>
      <span class="custom-control-indicator"></span>
      <span class="custom-control-description"><%= f.label :is_active, "Is Employee Active" %></span>
    </label>
    </div>
  </div>

  <div class="row">
    <div class='col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3'>
      <div class='row'>
        <div class='col-md-6 col-lg-5 offset-lg-1'>
          <%= f.submit(employee.new_record? ? 'Create Employee' : 'Update Employee', class: 'btn btn-success btn-block my-2') %>
        </div>
        <div class='col-md-6 col-lg-5'>
          <%= link_to 'Cancel', employees_path, class: 'btn btn-danger btn-block my-2' %>
        </div>
      </div>
    </div>

  </div>
<% end %>
