<div class='row my-5'>
  <div class='col-10 offset-1 col-md-6 offset-md-3'>
    <div class='options-box p-4'>
      <h1 class='options-title'>Customers</h1>
      <div class='options-content'>
        <%= link_to "Work With Customers", "#", class: 'btn btn-primary' %>
        <%= link_to "Create Customer", "#", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class='row my-5'>
  <div class='col-10 offset-1 col-md-6 offset-md-3'>
    <div class='options-box p-4'>
      <h1 class='options-title'>Orders</h1>
      <div class='options-content'>
        <%= link_to "Create Order", "#", class: 'btn btn-primary' %>
        <%= link_to "Work With Orders", "#", class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
</div>

<div class='row my-5'>
  <div class='col-10 offset-1 col-md-6 offset-md-3'>
    <div class='options-box p-4'>
      <h1 class='options-title'>Employees</h1>
      <div class='options-content'>
        <%= link_to "Assign Work", "#", class: 'btn btn-primary' %>
        <%= link_to "Work With Employees", "#", class: 'btn btn-primary' %>
      </div>
    </div>    
  </div>
</div>